.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

data/
results/
!results/
results/*
!results/acs_unequal_source_sizes_results.pkl
!results/acs_unequal_source_sizes_summary.csv
figures/
dataset_ranking/data/
dataset_ranking/results/
dataset_ranking/figures/
